* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-prev {
  left: 0;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.slick-next {
  right: 0;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.custom-indicator {
  bottom: -65px;
}

.custom-indicator li {
  width: 50px;
  height: 50px;
  filter: grayscale(100);
}

.custom-indicator li.slick-active {
  filter: grayscale(0);
}
