.Testimonial .slick-arrow.slick-prev,
.Testimonial .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.Testimonial .slick-prev::before,
.Testimonial .slick-next::before {
  display: none;
}

.Testimonial .slick-arrow.slick-next {
  right: -70px;
}

.Testimonial .slick-arrow.slick-prev {
  left: -70px;
}

.Testimonial .slick-dots li button:before {
    margin-top: 10px;
    font-size: 15px;
  }